body{
  background: #fff;
  font-size: 20px;
  font-size: clamp(20px, 5vw, 17px);
  font-family: "Noto Sans JP";
}
main{
  height: 100vh;
}
a{
  text-decoration: none!important;
  transition: transform 0.2s;
}
a:active{
  transform: scale(0.95);
}
img.emoji{
  height: 1em;
  width: 1em;
  margin: 0.05em 0.1em;
  vertical-align: -0.1em;
}
.glass-filter{
  backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.link{
  width: 16px; 
  height: 16px;
}
.sub-txt{
  display: inline-block;
  font-size: 50%;
}
#top{
  margin-top: 70px;
  margin-left: 20px;
}
#main,
#nojs{
  padding: 30px;
  padding-bottom: 70px;

  z-index: 1;
}
#main li{
  padding-bottom: 20px;
}
